# Environment
.env
config.json

# Cache
*.cpython-313.pyc


#Publish files
dist/*
src/mcp_llm_client.egg-info/*

#Text Editor
.vscode/*

#Dev Test
test.py
xbuild.md

#Chats
chats

#token storage
data
