# Environment
.env
fastchat.config.json

# Cache
*.cpython-313.pyc


#Publish files
dist/*
*.egg-info

#Text Editor
.vscode/*


#Chats
chats

#token storage
data

#Development Files
src/api_dev.py
src/terminal_dev.py
xbuild.md
